<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="The Caltech Archives present: 1986, Caltech’s Commencement three decades ago"

>
  <image imageURL="images/logo Archives FB.jpg"
	thumbURL="thumbs/logo Archives FB.jpg"
	linkURL="images/logo Archives FB.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\logo Archives FB.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/Preparation 3 (86-169-1_15).jpg"
	thumbURL="thumbs/Preparation 3 (86-169-1_15).jpg"
	linkURL="images/Preparation 3 (86-169-1_15).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Preparation 3 (86-169-1_15).jpg">
    <title><![CDATA[The day before Commencement: setting up]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Preparation 1 (86-169-1_10).jpg"
	thumbURL="thumbs/Preparation 1 (86-169-1_10).jpg"
	linkURL="images/Preparation 1 (86-169-1_10).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Preparation 1 (86-169-1_10).jpg">
    <title><![CDATA[The day before Commencement: setting up]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Duck1.jpg"
	thumbURL="thumbs/Duck1.jpg"
	linkURL="images/Duck1.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Duck1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Pack 2.jpg"
	thumbURL="thumbs/Pack 2.jpg"
	linkURL="images/Pack 2.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Pack 2.jpg">
    <title><![CDATA[The day before Commencement: it is also time to pack]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/1986_Commencement program1.jpg"
	thumbURL="thumbs/1986_Commencement program1.jpg"
	linkURL="images/1986_Commencement program1.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\1986_Commencement program1.jpg">
    <title><![CDATA[1986 Commencement program cover]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/1986_Commencement program2.jpg"
	thumbURL="thumbs/1986_Commencement program2.jpg"
	linkURL="images/1986_Commencement program2.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\1986_Commencement program2.jpg">
    <title><![CDATA[The Commencement program]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 1 (86-170-1_19)-1 (2).jpg"
	thumbURL="thumbs/Comm 1 (86-170-1_19)-1 (2).jpg"
	linkURL="images/Comm 1 (86-170-1_19)-1 (2).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 1 (86-170-1_19)-1 (2).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 6 (86-170-3_13).jpg"
	thumbURL="thumbs/Comm 6 (86-170-3_13).jpg"
	linkURL="images/Comm 6 (86-170-3_13).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 6 (86-170-3_13).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 5 (86-170-2_34).jpg"
	thumbURL="thumbs/Comm 5 (86-170-2_34).jpg"
	linkURL="images/Comm 5 (86-170-2_34).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 5 (86-170-2_34).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 8 (86-170-3_9).jpg"
	thumbURL="thumbs/Comm 8 (86-170-3_9).jpg"
	linkURL="images/Comm 8 (86-170-3_9).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 8 (86-170-3_9).jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 10 (86-172-3_35).jpg"
	thumbURL="thumbs/Comm 10 (86-172-3_35).jpg"
	linkURL="images/Comm 10 (86-172-3_35).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 10 (86-172-3_35).jpg">
    <title><![CDATA[A group of Faculty relaxing in Dabney Garden while their colleagues are dressing up]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/18_172-7-4.jpg"
	thumbURL="thumbs/18_172-7-4.jpg"
	linkURL="images/18_172-7-4.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\18_172-7-4.jpg">
    <title><![CDATA[The students marching toward Beckman Mall]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 22-172-10-4.jpg"
	thumbURL="thumbs/Comm 22-172-10-4.jpg"
	linkURL="images/Comm 22-172-10-4.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 22-172-10-4.jpg">
    <title><![CDATA[Arnold O. Beckman -Chairman Emeritus, Board of Trustees-  giving the Commencement address]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/19-172-7-26.jpg"
	thumbURL="thumbs/19-172-7-26.jpg"
	linkURL="images/19-172-7-26.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\19-172-7-26.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 23 172-10-9.jpg"
	thumbURL="thumbs/Comm 23 172-10-9.jpg"
	linkURL="images/Comm 23 172-10-9.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 23 172-10-9.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Untitled-17.jpg"
	thumbURL="thumbs/Untitled-17.jpg"
	linkURL="images/Untitled-17.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Untitled-17.jpg">
    <title><![CDATA[The Faculty Procession lead by Assistant Marshal Robert W. Oliver, Professor of Economics]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 11 (86-172-6_12).jpg"
	thumbURL="thumbs/Comm 11 (86-172-6_12).jpg"
	linkURL="images/Comm 11 (86-172-6_12).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 11 (86-172-6_12).jpg">
    <title><![CDATA[Ruben F. Mettler (Chairman of the Board of Trustees) leading President Marvin L. Goldberger and Chairman Emeritus Arnold O. Beckman ]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 25 172-9-27.jpg"
	thumbURL="thumbs/Comm 25 172-9-27.jpg"
	linkURL="images/Comm 25 172-9-27.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 25 172-9-27.jpg">
    <title><![CDATA[The audience gathered in Beckman Mall]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 28 172-12-15.jpg"
	thumbURL="thumbs/Comm 28 172-12-15.jpg"
	linkURL="images/Comm 28 172-12-15.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 28 172-12-15.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 31 172-10-17.jpg"
	thumbURL="thumbs/Comm 31 172-10-17.jpg"
	linkURL="images/Comm 31 172-10-17.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 31 172-10-17.jpg">
    <title><![CDATA[President Goldberger conferring the degrees]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 29 172-12-16.jpg"
	thumbURL="thumbs/Comm 29 172-12-16.jpg"
	linkURL="images/Comm 29 172-12-16.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 29 172-12-16.jpg">
    <title><![CDATA[President Goldberger conferring the degrees]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 24-172-11-19.jpg"
	thumbURL="thumbs/Comm 24-172-11-19.jpg"
	linkURL="images/Comm 24-172-11-19.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 24-172-11-19.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 23-172-11-28.jpg"
	thumbURL="thumbs/Comm 23-172-11-28.jpg"
	linkURL="images/Comm 23-172-11-28.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 23-172-11-28.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/Comm 7 (86-170-3_15).jpg"
	thumbURL="thumbs/Comm 7 (86-170-3_15).jpg"
	linkURL="images/Comm 7 (86-170-3_15).jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Comm 86\Gallery Jpg\Comm 7 (86-170-3_15).jpg">
    <title><![CDATA[Time to celebrate!]]></title>
    <caption><![CDATA[(Photo credit unknown)]]></caption>
  </image>
</juiceboxgallery>